h1{
    background-color: blue;
    color: darkslategray;
    border-radius: 25px;
    margin-bottom: 35px;
}
p{
    color: paleturquoise;
    background-color: seagreen;
    border-radius: 25px;
    padding: 26px;
}
.nav{
    background-color: turquoise;
    padding: 15px 20px;
}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    margin: auto;
}
.nav-link{
    color: black;
    text-decoration: none;
    font-size: 26px;
    font-family: cursive;
    border-radius: 25px;
    padding: 25px 10px;
}
.nav-link:hover {
    background-color: maroon;
    color: plum;
}
form{
    background-color: #1a1d20;
    color: white;
    font-size: 34px;
    font-family: cursive;
    justify-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    width: 600px;
    margin: auto;
}
h3{
    color: #2c0b0e;
    font-family: fantasy;
    font-size: 45px;
}
p{
    color: #9eeaf9;
    font-family: cursive;
}
h4{
   font-size: 45px;
    font-family: cursive;
    color: #0a3622;
}
button{
    color: #51585e;
    background-color: #997404;
}
button:hover{
    color: #0dcaf0;
    background-color: #9ec5fe;
}
table{
   background-color: #1a1d20;
    font-size: 34px;
    font-family: cursive;
    justify-items: center;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 25px;
    text-align: center;
    width: 1500px;
    height: 1800px;
    margin: auto;
}
table{
            width: 100%;
            background-color: darkslategray;
            color: white;
            border-collapse: collapse;
        }
        th,td{
            border: 1px solid white;
            padding: 20px;
            text-align: center;
        }
        th{
            color: coral;
            font-family: fantasy;
            background-color: darkgray;
        }
.specifics{
     border-radius: 20px;
     width: 100%;
     display: flex;
     gap: 10px;
     justify-items: center;
}
button{
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    color: #2563eb;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: darkslategrey;
    transform: scale(1.06);
}
body {
            background: linear-gradient(to right, #5c636a, #997404);
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }