<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
    <link href="../../static/assets/styles/mains.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div>
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Destinations</a>
      </div>
    </div>
  </div>
</nav>
<h1>OUR HISTORY</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto cupiditate dignissimos dolore dolorum earum facilis fugit id iusto laudantium, nemo nisi non nostrum omnis quaerat, saepe similique tenetur voluptas, voluptatem! Aliquid dicta et itaque maiores non repudiandae vero.</p>
<h2>WHAT YOU NEED TO KNOW ABOUT US</h2>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio doloribus placeat, quae quasi reiciendis sapiente? Accusamus, adipisci corporis culpa cum delectus eos, est nisi nobis numquam porro quos voluptatum. Aspernatur iure qui quo rerum veniam. Consequatur corporis et illum incidunt maxime obcaecati perspiciatis quidem sapiente ullam voluptatibus. A accusamus aperiam aut consectetur dolor ea eligendi fugiat nihil nostrum, nulla possimus reprehenderit s equi sint soluta sunt temporibus!</P>
<h3>HERE'S MORE</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium adipisci animi asperiores aspernatur assumenda aut consectetur cupiditate delectus dolore dolorum ea eius enim eum expedita ipsam itaque molestiae mollitia nesciunt nisi nostrum numquam odio perferendis placeat, possimus praesentium quas quasi, quisquam ratione reprehenderit sequi similique tenetur totam ut velit voluptate! A alias consequatur dignissimos distinctio dolorem ea enim esse est et ex exercitationem fuga, fugiat illo in inventore magni necessitatibus nesciunt nulla numquam officiis perferendis reprehenderit repudiandae sapiente soluta sunt tempore temporibus velit? At reprehenderit saepe voluptatem.</p>
<h4>OUR SERVICES</h4>
<ul>
  <li>TRANSPORTATION</li>
  <li>DELIVERIES</li>
  <li>LONG DISTANCE TRAVELS</li>
  <li>TOURISM PLEASURES</li>
</ul>
</body>
</html>