<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/assets/styles/mains.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>
<table>
  <tr>
    <th>Name</th>
    <th>Member number</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>

  <tr>
    <td>James Osteen</td>
    <td>0123</td>
    <td>0745123698</td>
    <td>osteen89iu@gmail.com</td>
  </tr>

  <tr>
    <td>Stephany Audrey</td>
    <td>1233</td>
    <td>0785640210</td>
    <td>steph8audr@gmail.com</td>
  </tr>
  <tr>
    <td>Allie Adams</td>
    <td>7895</td>
    <td>07529648952</td>
    <td>adamsallie678@gmail.com</td>
  </tr>
  <tr>
    <td>Alvarez Melandez</td>
    <td>5621</td>
    <td>0789561234</td>
    <td>melalv511@gmail.com</td>
  </tr>
  <tr>
    <td>Chelsey Claire</td>
    <td>5689</td>
    <td>0756412389</td>
    <td>clairesey@gmail.com</td>
  </tr>
</table>
</body>
</html>