{% extends 'base.html' %}
{% block content %}
 <!-- Bootstrap CSS -->

    <style>
        body {
            background: linear-gradient(to right, #5c636a, #997404);
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        footer {
            margin-top: auto;
            padding: 15px 0;
            background-color: rgba(0,0,0,0.1);
        }
        table th, table td {
            vertical-align: middle;
        }
    </style>
<!-- Navbar -->


<!-- Table Section -->
<div class="container my-5">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Member Number</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>James Osteen</td>
                    <td>0123</td>
                    <td>0745123698</td>
                    <td>osteen89iu@gmail.com</td>
                </tr>
                <tr>
                    <td>Stephany Audrey</td>
                    <td>1233</td>
                    <td>0785640210</td>
                    <td>steph8audr@gmail.com</td>
                </tr>
                <tr>
                    <td>Allie Adams</td>
                    <td>7895</td>
                    <td>07529648952</td>
                    <td>adamsallie678@gmail.com</td>
                </tr>
                <tr>
                    <td>Alvarez Melandez</td>
                    <td>5621</td>
                    <td>0789561234</td>
                    <td>melalv511@gmail.com</td>
                </tr>
                <tr>
                    <td>Chelsey Claire</td>
                    <td>5689</td>
                    <td>0756412389</td>
                    <td>clairesey@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Back Button -->
    <div class="text-center mt-4">
        <button class="btn btn-primary btn-lg" onclick="history.back()">BACK</button>
    </div>
</div>

<!-- Footer -->


<!-- Bootstrap JS (make sure paths are correct) -->
<script src="../../static/assets/styles/bootstrap/js/bootstrap.bundle.js"></script>

{% endblock %}