{% extends 'base.html' %}
{% block content %}

<h1>YOUR DETAILS</h1>
<form>
  <!-- Name -->
  <label>YOUR NAME:</label><br>
  <input type="text"><br><br>

  <!-- Member number -->
  <label>YOUR MEMBER NUMBER:</label><br>
  <input type="number"><br><br>

  <!-- Phone -->
  <label>YOUR PHONE:</label><br>
  <input type="number"><br><br>

  <!-- email -->
  <label>YOUR EMAIL:</label><br>
  <input type="email"><BR><BR>

  <!-- button -->
  <button>SUBMIT</button>
  <button>CLEAR</button>
</form>


{% endblock %}