<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link href="../../static/assets/styles/bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="../../static/assets/styles/mains.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>
<h1>YOUR DETAILS</h1>
<form>
  <!-- Name -->
  <label>YOUR NAME:</label><br>
  <input type="text"><br><br>

  <!-- Member number -->
  <label>YOUR MEMBER NUMBER:</label><br>
  <input type="number"><br><br>

  <!-- Phone -->
  <label>YOUR PHONE:</label><br>
  <input type="number"><br><br>

  <!-- email -->
  <label>YOUR EMAIL:</label><br>
  <input type="email"><BR><BR>

  <!-- button -->
  <button>SUBMIT</button>
  <button>CLEAR</button>
</form>
<footer>
  <p>&copy; 2026 Fadhili Kariuki. All rights reserved.</p>
</footer>

</body>
</html>