{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}

<section class="specifics">
<h5>HOW TO FIND US</h5>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.818595102799!2d36.825213473751724!3d-1.2826567987051454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f112a2f09b2f9%3A0xcc27ae2767fc66df!2s2NK%20Sacco%20Booking!5e0!3m2!1sen!2ske!4v1770977738545!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <form>
  <!-- Name -->
  <label>YOUR NAME:</label><br>
  <input type="text"><br><br>

  <!-- Member number -->
  <label>YOUR MEMBER NUMBER:</label><br>
  <input type="number"><br><br>

  <!-- Phone -->
  <label>YOUR PHONE:</label><br>
  <input type="number"><br><br>

  <!-- email -->
  <label>YOUR EMAIL:</label><br>
  <input type="email"><BR><BR>

  <!-- button -->
  <button>SUBMIT</button>
  <button>CLEAR</button>
 </form>
</section>

{% endblock %}